* {
    padding: 0;
    margin: 0 0 0 0px;
    box-sizing: border-box;
}
/*---------------GENERICO---------------*/
body {
    font-family: 'calibri';
}

header {
    background: #ffd800;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}


.section__title,
.section__title-center {
    margin-top: 5%;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    line-height: 140%;
}

.section__title-center {
    text-align: center;
}



/*---------------BOTONES---------------*/
.button {
    display: inline-block;
    background-color: #ffd800;
    color: #1A1A1A;
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;
    margin-left: 5%;
}

    .button:hover {
        background-color: var(--first-color-alt);
    }

/*---------------MENU---------------*/

.navbar {
    width: 100%;
    background-color: gold;
    overflow: auto;
}

    /* Navigation links */
    .navbar a {
        float: left;
        padding: 12px;
        color: black;
        font-weight:bold;
        text-decoration: none;
        font-size: 17px;
        outline:thick;
        width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
        text-align: center; /* If you want the text to be centered */
    }

        /* Add a background color on mouse-over */
        .navbar a:hover {
            background-color: darkgoldenrod;
        }

        /* Style the current/active link */
        .navbar a.active {
            background-color: #04AA6D;
        }

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}
/*---------------PRODUCTOS---------------*/
